body {
    background-image: url("/assets/images/bac.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  p{
    background-color:#00d1b2;
    font-weight:bold;
    font-style:italic;
    
  }
  .box {
      height: 400px;
    text-align: center;

  }
.dropdown{

}
@media screen and (max-width:576px) {
    body{
        background-size: 150%;
        
    }
}
@media screen and (max-width:768px) {
    body{
        background-size:150%
    }
}
@media screen and (max-width:992px){
    body{
        background-size:150%;
    }
}
@media screen and (max-width:1200px){
    body{
        background-size:150%
    }
}
@media screen and (max-width:375px){
    body{
        background-size:150%;
    }
}